#
# Logging
#

LOG_LEVEL=info
# Set this to `true` to have Studio Activity print log messages to the Output window.
ENABLE_OUTPUT_LOGGING=false

#
# Backend
#

BASE_URL=activity.brooke.sh

#
# Open Cloud
#

ROBLOX_API_KEY=
ROBLOX_UNIT_TESTING_PLACE_ID=137718969043315
ROBLOX_UNIT_TESTING_UNIVERSE_ID=10128045586
